@font-face {
  font-family: "Inter";
  src: url("/assets/inter.woff2") format("woff2");
  font-display: swap;
}

* {
  text-underline-offset: 3px;
}

html:has(.Layout.home-v2-page),
html:has(.Layout.home-v2-page) body {
  background: #11111b;
  color: #e8e8e8;
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #89b4fa;
  --vp-c-brand-2: #74a6f4;
  --vp-c-brand-3: #5d8ff3;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-font-family-base: "Inter", ui-sans-serif, -apple-system, BlinkMacSystemFont, sans-serif;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

::selection {
  background-color: #89b4fa;
  color: #0a0a0b;
}

.VPNav,
.VPLocalNav,
.VPSidebar,
footer {
  user-select: none;
}

.dark {
  --vp-c-bg: oklch(20.385% 0.00773 285.719);
  --vp-c-bg-alt: oklch(17.105% 0.00397 285.961);
  --vp-c-bg-elv: oklch(22.927% 0.01144 278.034);
  --vp-c-bg-soft: oklch(22.927% 0.01144 278.034);

  --vp-c-gray-1: oklch(43.933% 0.0226 248.367);
  --vp-c-gray-2: oklch(35.955% 0.02077 259.438);
  --vp-c-gray-3: oklch(30.266% 0.01685 266.452);
  --vp-c-gray-soft: oklch(50.504% 0.03148 248.444 / 0.16);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(280deg, #38c2fe, #0279db);
  /*
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
*/
  --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg, #38c2fe52, #0279db33);

  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Custom CSS
 * -------------------------------------------------------------------------- */

code {
  white-space: pre-wrap !important;
}

img {
  border-radius: 8px;
}

.vp-doc [class*="language-"] > span.lang {
  display: none;
}

:root {
  --vp-font-family-mono:
    mono, ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace !important;
}

@font-face {
  font-family: mono;
  src: url("/mono-normal.woff2");
}

@font-face {
  font-family: mono;
  font-style: italic;
  src: url("/mono-italic.woff2");
}

.vp-code-group .tabs label {
  line-height: 42px;
}

.vp-code-group .tabs {
  padding: 0 8px;
}

.DocSearch-Logo svg * {
  fill: var(--vp-c-text-2) !important;
}

.DocSearch-Logo:hover svg * {
  fill: var(--vp-c-text-1) !important;
}

.VPHero .heading span.name.clip {
  display: none;
}

/* biome-ignore lint/style/noDescendingSpecificity: order should be respected */
*,
*::before,
*::after {
  scrollbar-width: thin;
  scrollbar-color: hsla(255 0 255 / 15%) #1b1b1f;
}

html,
body {
  scrollbar-gutter: stable;
}
.VPFooter.has-sidebar {
  display: block !important;
  border-top: transparent !important;
  padding-top: 0px !important;
}
